body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 600px;
  margin-top: 50px;
  margin-inline: auto;
}

h1, h3{
  text-align: center;
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: rgb(89, 102, 142);
}

form input {
  margin-bottom: 10px;
  background-color: rgb(45, 45, 45);
  width: 100%;
  display: block;
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  color: white;
  font-size: 1.1em;
}

input::placeholder {
  color: rgb(91, 109, 160);
}

form #checkbox {
  margin-left: 15px;
  display: inline-block;
  width: auto;
}

button {
  margin-top: 20px;
  width: 100%;
  display: block;
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(88, 122, 223);
}

.table {
  margin-top: 50px;
}

table {
  background-color: rgb(46, 46, 46);
  width: 100%;
  text-align: center;
}

thead {
  background-color: royalblue;
}

tr:nth-child(even) {
  background-color: rgb(68, 80, 117);
}

.passive {
  opacity: 50%;
}

.gr-text {
  color: darkcyan;
}

.rd-text {
  color: tomato;
}

th,
td {
  padding: 10px;
}

.errMessage {
  bottom: -15px;
  left: 15px;
  position: absolute;
  transform: scaleY(0.8);
  font-size: 14px;
  color: tomato;
}
